PeriodicalsXML/periodical.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:complexType name="periodical">
			<xs:sequence>
				<xs:element type="xs:double" name="cost"/>
				<xs:element type="xs:string" name="publishing"/>
				<xs:element name="period">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="annual" />
							<xs:enumeration value="monthly" />
							<xs:enumeration value="weakly" />
							<xs:enumeration value="daily" />
							<xs:enumeration value="realtime" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="type">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="magazine" />
							<xs:enumeration value="newspaper" />
							<xs:enumeration value="onlineMagazine" />
							<xs:enumeration value="onlineNewspaper" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element type="xs:string" name="name" minOccurs="0"/>
				<xs:element type="xs:int" name="pages" minOccurs="0"/>
				<xs:element type="xs:int" name="circulation" minOccurs="0"/>
				<xs:element type="xs:int" name="adsnumber" minOccurs="0"/>
				<xs:element type="xs:int" name="subscribers" minOccurs="0"/>
				<xs:element type="xs:string" name="website" minOccurs="0"/>
				<xs:element type="xs:string" name="average" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
</xs:schema>